<!DOCTYPE html>
<html>
  <head>
    <title>Madlib Display</title>
    <link rel="stylesheet" href="/static/madlibs.css" />
  </head>
  <body>
    <h1>Here is your madlib:</h1>
    <p>
      There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
      When {{ person }} went to pick it up, it burst into flames in a totally {{
      adjective }} way. "This has happened to me {{ number }} times," they said.
      "I can't wait to tell {{ name2 }}, {{ pronoun }} will {{ verb }} so hard."
      But {{ positionalnum }} they {{ adverb }} put out the flames.
    </p>
  </body>
</html>
